{% extends "form.html" %}
{% load templatefunctions %}

{% comment %}
Update an object

Inputs (inherited from 'form.html'):
    form_url - url to request
    form_title - title to display
{% endcomment %}


{# include statics for datetime picker and css files #}
{% block form_top %}
{% include "head.html" %}
{% endblock %}

{# dont use fade (default in classes) #}
{% block form_div_classes %}container{% endblock %}

{# need to show form default is hidden #}
{% block form_hide %}False{% endblock %}

{# cancel button to return to standard list (default closes form) #}
{% block form_buttons %}
<button type="submit" class="btn btn-success">Submit</button>

<a href="{{ return_url }}">
    <input type="button"class="btn btn-default" value="Cancel">
</a>

<button type="submit" class="btn btn-warning" name="delete_button" data-toggle="confirmation">Delete</button>
{% endblock %}

{% block form_bottom %}
{# add anything at bottom here... #}
{% endblock %}
