{% extends "form.html" %}
{% load templatefunctions %}

{% comment %}
Form to create a new object
Inputs:
    formnew_id - id of form
    view.model - class of object to create
{% endcomment %}

{# button at top to show/hide create form #}
{% block form_top %}
<div>
    <span>
    <input
        type="button"
        class="btn-toggler {% button_classes %}"
        target_id="{{ formnew_id }}"
        show_prompt="Create {{ view.model|title_name }}"
        hide_prompt="Cancel">
    </span>
</div>
{% endblock %}

{# set form id #}
{% block form_id %}{{ formnew_id }}{% endblock %}

