{# load static directory containing css file #}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/ToggleSwitch.css' %}">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- jquery script must come first! -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/ToggleSwitch.js' %}"></script>

{# get calender file for javascript #}
<script>
    calenderGif = "{% static 'images/calender.gif' %}";
</script>
<script src="{% static 'js/scripts.js' %}"></script>
