{% load templatefunctions %}

{% comment %}
Print database table 
Inputs
    field_titles - column titles
    table_list - list containing
        item 0 - link to update object
        item 1 - list of values corresponding to field_titles to display
        item 2 - css row formatting class
{% endcomment %}

<div>
    <table id="db-table" class="table table-bordered">

        {# display table headings #}
        <thead>
            <tr>
                {% for f in field_titles %}
                <th>{{ f }}</th>
                {% endfor %}
            </tr>
        </thead>

        {# loop objects #}
        <tbody>
            {% include "table_rows.html" with table_rows=table_list %}
        </tbody>

    </table>

    <div id="table-load-icon" style="display:none">
        <div  class="d-flex justify-content-center">
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
    </div>

</div>
