{% load templatefunctions %}
{% with displayRows=10 extra_id="table_rows_extra" %}


{% comment %}
Print database table 
Inputs
    field_titles - column titles
    table_list - list containing
        item 0 - link to update object
        item 1 - list of values corresponding to field_titles to display
        item 2 - css row formatting class
{% endcomment %}

<div>
<table id="db-table" class="table table-bordered">

    {# display table headings #}
    <thead>
        <tr>
            {% for f in view.field_titles %}
            <th>{{ f }}</th>
            {% endfor %}
        </tr>
    </thead>

    {# loop objects #}
    <tbody>

    {% for o in view.table_list %}
        <tr class="row-link {{ o.2 }}" updatelink="{{ o.0 }}">
            
            {# get attribute values and list in table #}
            {% for v in o.1 %}
            <td>{{ v }}</td>
            {% endfor %}

        </tr>

        {% if forloop.counter == displayRows and not forloop.last %}
            {# at max display rows, create new hidden tbody #}
            </tbody>
            <tbody id={{ extra_id }} style="display:none">

        {% elif forloop.last %}
            {# last element in for loop - end tbody #}
            </tbody>

            {% if forloop.counter > displayRows %}
                {# in last element in for loop and have hidden tbody #}
                <tfoot><tr><td colspan="{{ view.field_titles|length }}">
                    <input
                    type="button"
                    class="btn-toggler {% button_classes %}"
                    target_id="{{ extra_id }}"
                    show_prompt="Show more"
                    hide_prompt="Show less"
                    style="width:100%">
                </td></tr></tfoot>
            {% endif %}
        {% endif %}

    {# end qs #}
    {% endfor %}

</table>
</div>
{% endwith %}
